solutions/unpacked/Workflows/WeatherEventsFlow-C68AE5CB-90BF-EC11-983E-000D3A599B8F.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedcommondataserviceforapps_6f51e"
        },
        "api": {
          "name": "shared_commondataserviceforapps"
        }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedteams_1add3"
        },
        "api": {
          "name": "shared_teams"
        }
      },
      "shared_office365groups": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoffice365groups_44f6b"
        },
        "api": {
          "name": "shared_office365groups"
        }
      },
      "shared_eventhubs": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedeventhubs_c1eea"
        },
        "api": {
          "name": "shared_eventhubs"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "When_events_are_available_in_Event_Hub": {
          "recurrence": {
            "interval": 1,
            "frequency": "Minute"
          },
          "splitOn": "@triggerOutputs()?['body']",
          "metadata": {
            "operationMetadataId": "45553691-c948-4084-853a-271208cdc5e8"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_eventhubs",
              "operationId": "OnNewEvents",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_eventhubs"
            },
            "parameters": {
              "eventHubName": "dest",
              "contentType": "application/json",
              "consumerGroupName": "$Default",
              "maximumEventsCount": 50
            },
            "authentication": "@parameters('$authentication')"
          }
        }
      },
      "actions": {
        "Add_a_new_row": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d5dcc3fc-f3a6-42d2-91d5-19abbc158fb7"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr100_watchdogeventses",
              "item/cr100_deviceid": "@body('Parse_JSON')?['DeviceId']",
              "item/cr100_messageid": "@body('Parse_JSON')?['MessageId']",
              "item/cr100_azfncinitializedtime": "@addSeconds('1601-01-01', div(body('Parse_JSON')?['AzFncInitializedTimeTicks'],10000000),'yyyy-MM-ddTHH:mm:ssZ')",
              "item/cr100_category": "@body('Parse_JSON')?['Category']",
              "item/cr100_certainty": "@body('Parse_JSON')?['Certainty']",
              "item/cr100_edgecreatedtime": "@addSeconds('1601-01-01', div(body('Parse_JSON')?['EdgeCreatedTimeTicks'],10000000),'yyyy-MM-ddTHH:mm:ssZ')",
              "item/cr100_edgetoazfunclatencyms": "@body('Parse_JSON')?['EdgeToAzFncLatencyMs']",
              "item/cr100_effective": "@body('Parse_JSON')?['Effective']",
              "item/cr100_ends": "@body('Parse_JSON')?['Ends']",
              "item/cr100_event": "@body('Parse_JSON')?['Event']",
              "item/cr100_expires": "@body('Parse_JSON')?['Expires']",
              "item/cr100_iothubenqueuedtime": "@addSeconds('1601-01-01', div(body('Parse_JSON')?['IoTHubEnqueuedTimeTicks'],10000000),'yyyy-MM-ddTHH:mm:ssZ')",
              "item/cr100_messagetype": "@body('Parse_JSON')?['MessageType']",
              "item/cr100_moduleid": "@body('Parse_JSON')?['ModuleId']",
              "item/cr100_onset": "@body('Parse_JSON')?['Onset']",
              "item/overriddencreatedon": "@triggerOutputs()?['body/SystemProperties/EnqueuedTimeUtc']",
              "item/cr100_sent": "@body('Parse_JSON')?['Sent']",
              "item/cr100_severity": "@body('Parse_JSON')?['Severity']",
              "item/cr100_status": "@body('Parse_JSON')?['Status']",
              "item/statuscode": 1
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "21887c6b-6a37-4087-82dd-8919637e2e9b"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerOutputs()?['body/ContentData']",
            "schema": {
              "type": "object",
              "properties": {
                "DeviceId": {
                  "type": "string"
                },
                "ModuleId": {
                  "type": "string"
                },
                "MessageId": {
                  "type": "integer"
                },
                "MessageType": {
                  "type": "string"
                },
                "EdgeCreatedTimeTicks": {
                  "type": "integer"
                },
                "IoTHubEnqueuedTimeTicks": {
                  "type": "integer"
                },
                "AzFncInitializedTimeTicks": {
                  "type": "integer"
                },
                "EdgeToHubLatencyMs": {
                  "type": "integer"
                },
                "EdgeToAzFncLatencyMs": {
                  "type": "integer"
                },
                "Sent": {
                  "type": "string"
                },
                "Effective": {
                  "type": "string"
                },
                "Onset": {
                  "type": "string"
                },
                "Expires": {
                  "type": "string"
                },
                "Severity": {
                  "type": "string"
                },
                "Ends": {
                  "type": "string"
                },
                "Status": {
                  "type": "string"
                },
                "Category": {
                  "type": "string"
                },
                "Certainty": {
                  "type": "string"
                },
                "Urgency": {
                  "type": "string"
                },
                "Event": {
                  "type": "string"
                },
                "Headline": {
                  "type": "string"
                },
                "Instruction": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Get_a_team": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "8d790105-1a18-4f87-a177-85ba286129aa"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "GetTeam",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "teamId": "af5d9c89-6c8a-4e12-9f57-128e8bca38b9"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "List_group_members": {
          "runAfter": {
            "Get_a_team": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "5061a7e3-9fa7-4da6-849e-336f3a426dbf"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365groups",
              "operationId": "ListGroupMembers",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365groups"
            },
            "parameters": {
              "groupId": "@outputs('Get_a_team')?['body/id']"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('List_group_members')?['body/value']",
          "actions": {
            "Post_message_in_a_chat_or_channel": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "fa198cd2-b0aa-4757-9d67-865ff3af8397"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_teams",
                  "operationId": "PostMessageToConversation",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
                },
                "parameters": {
                  "poster": "Power Virtual Agents",
                  "location": "powerva",
                  "body/bot": "new_bot_9bc2aaf926fd465386e2a90a863210e9",
                  "body/recipient": "@{items('Apply_to_each')?['userPrincipalName']};",
                  "body/messageBody": "<p>@{body('Parse_JSON')?['DeviceId']} has issued a @{body('Parse_JSON')?['Event']} effective @{body('Parse_JSON')?['Effective']}. @{body('Parse_JSON')?['Headline']}. @{body('Parse_JSON')?['Instruction']}</p>",
                  "body/attribution": true,
                  "body/activeChat": "Send",
                  "body/installedError": "Fail"
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "List_group_members": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "956f2b85-1af6-4e38-b4e8-d07b360eb5c8"
          },
          "type": "Foreach"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}